<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PatientRegistrationServlet</servlet-name>
  	<display-name>PatientRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.PatientRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorRegistrationServlet</servlet-name>
  	<display-name>DoctorRegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.DoctorRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientValidationServlet</servlet-name>
  	<display-name>PatientValidationServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.PatientValidationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorValidationServlet</servlet-name>
  	<display-name>DoctorValidationServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.DoctorValidationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientSearchsDoctor</servlet-name>
  	<display-name>PatientSearchsDoctor</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.PatientSearchsDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchFeedbook</servlet-name>
  	<display-name>FetchFeedbook</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointment.servlets.FetchFeedbook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorRegistrationServlets</servlet-name>
  	<display-name>DoctorRegistrationServlets</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.DoctorRegistrationServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorValidationServlets</servlet-name>
  	<display-name>DoctorValidationServlets</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.DoctorValidationServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientRegistrationServlets</servlet-name>
  	<display-name>PatientRegistrationServlets</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.PatientRegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientValidationServlets</servlet-name>
  	<display-name>PatientValidationServlets</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.PatientValidationServlets</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientSearchesDoctor</servlet-name>
  	<display-name>PatientSearchesDoctor</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.PatientSearchesDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RecordUpdate</servlet-name>
  	<display-name>RecordUpdate</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.RecordUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HistoryRecordServlet</servlet-name>
  	<display-name>HistoryRecordServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.HistoryRecordServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchDoctorPageServlet</servlet-name>
  	<display-name>SearchDoctorPageServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.SearchDoctorPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewDoctorsList</servlet-name>
  	<display-name>ViewDoctorsList</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.ViewDoctorsList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPatientsList</servlet-name>
  	<display-name>ViewPatientsList</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.ViewPatientsList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewCheckUpHistoryList</servlet-name>
  	<display-name>ViewCheckUpHistoryList</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.ViewCheckUpHistoryList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePatientInformations</servlet-name>
  	<display-name>UpdatePatientInformations</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.UpdatePatientInformations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateDoctorInfomations</servlet-name>
  	<display-name>UpdateDoctorInfomations</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.UpdateDoctorInfomations</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorUpdateServlet</servlet-name>
  	<display-name>DoctorUpdateServlet</display-name>
  	<description></description>
  	<servlet-class>com.infinite.doctorappointmentsystem.servlets.DoctorUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PatientRegistrationServlet</servlet-name>
  	<url-pattern>/PatientRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorRegistrationServlet</servlet-name>
  	<url-pattern>/DoctorRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientValidationServlet</servlet-name>
  	<url-pattern>/PatientValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorValidationServlet</servlet-name>
  	<url-pattern>/DoctorValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientSearchsDoctor</servlet-name>
  	<url-pattern>/PatientSearchsDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchFeedbook</servlet-name>
  	<url-pattern>/FetchFeedbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorRegistrationServlets</servlet-name>
  	<url-pattern>/DoctorRegistrationServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorValidationServlets</servlet-name>
  	<url-pattern>/DoctorValidationServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientRegistrationServlets</servlet-name>
  	<url-pattern>/PatientRegistrationServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientValidationServlets</servlet-name>
  	<url-pattern>/PatientValidationServlets</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientSearchesDoctor</servlet-name>
  	<url-pattern>/PatientSearchesDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RecordUpdate</servlet-name>
  	<url-pattern>/RecordUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HistoryRecordServlet</servlet-name>
  	<url-pattern>/HistoryRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchDoctorPageServlet</servlet-name>
  	<url-pattern>/SearchDoctorPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewDoctorsList</servlet-name>
  	<url-pattern>/ViewDoctorsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPatientsList</servlet-name>
  	<url-pattern>/ViewPatientsList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewCheckUpHistoryList</servlet-name>
  	<url-pattern>/ViewCheckUpHistoryList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePatientInformations</servlet-name>
  	<url-pattern>/UpdatePatientInformations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateDoctorInfomations</servlet-name>
  	<url-pattern>/UpdateDoctorInfomations</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorUpdateServlet</servlet-name>
  	<url-pattern>/DoctorUpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>
